<div class="header">
  <li>
    <a routerLink="/home" routerLinkActive="active">home</a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/about">about</a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/users">users</a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/rx"> rx PlayGround </a>
  </li>

  <li>
    <a routerLinkActive="active" routerLink="/attr"> Attribute Directive </a>
  </li>

  <li>
    <a routerLinkActive="active" routerLink="/pipes"> Pipes </a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/customStruct">
      Custom Structural
    </a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/customAttr">
      Custom Attribute
    </a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/pdf">
      HTML to PDF
    </a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/form">
      Reactive form
    </a>
  </li>
  <li (click)="goBack()" style="cursor: pointer;">
    <a routerLinkActive="active"> < </a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/direct"> structural directive </a>
  </li>
</div>
