.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

* {
  transition: background-color 1.5s ease;
  text-align: center;
  color: white;
  padding: 1.5rem;
}

button {
  color: black;
}
